/*-- scss:defaults --*/

$blue: #1874d0; // callout-note
$primary: #1d1d1d; // banner
// $success: #00bc8c; // links
$code-color: #c0d6ff; // inline code
$body-color: #f5f5f5; // plain text

// $body-bg: transparent;
$code-bg: mix(#222, $body-color, 90%);

/*-- scss:mixins --*/

/*-- scss:rules --*/

@each $name, $info in $callouts {
    div.callout-#{$name}.callout-style-default > .callout-header { // callout-header color blending
      //@if (quarto-color.blackness($body-bg) > $code-block-theme-dark-threshhold) {
        background-color: rgba(shift-color(quarto-map.get($info, "color"), /*70%*/50%), 0.8);
        //background-color: rgba(quarto-map.get($info, "color"), 0.3);
      /*} @else {
        background-color: shift-color(quarto-map.get($info, "color"), -90%);
      }*/
    }
}

$my-strong-color: white; // title & bold
$my-category-color: currentcolor;
$my-category-opacity: 0.6;

body {
    background-image: url(/assets/images/netherstairs.jpg);
    // background-position: ;
    background-size: cover;
    background-attachment: fixed;
}
.listing-category {
    color: $my-category-color!important;
    border-color: $my-category-color!important;
    opacity: $my-category-opacity;
}
b, strong, h1, h2, h3, h4, h5, h6 {
    color: $my-strong-color;
}

.cell-output img {
  filter: invert(1) hue-rotate(180deg);
}
.tikz svg{
  filter: invert(1) hue-rotate(180deg) drop-shadow(0 0 .3px);
}